/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "simple_calendar";
@import "font-awesome-sprockets";
@import "font-awesome";

// ヘッダー
.sticky-top{
  max-width: 1000px;
  margin: 0 auto;
  background-color: #50ABA2;
}

 // ヘッダーボタン
.navbar-light .navbar-toggler{
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 255, 255, 0.411);
}

.home{
  margin-right: 16px;
  font-size: 32px;
  text-decoration: none;
  list-style: none;
}

.fa-home{
  color: #ffffff;
}

.icon-size{
  font-size: 50px;
  color: #50ABA2;
}

.main-menu >.card-group > li:hover {
  background-color: #50ABA2;
  transition: all 0.3s;
  transform: translate(0, -5px);
  .icon-size{
    color: #ffffff;
  }
}

.main-menu >.card-group > li :hover {
  color: #ffffff;
}

.navbar-collapse >.navbar-nav > li :hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.navbar-brand a:hover{
  opacity: 0.5;
  background-color: #ebebeb;
}

@media screen and (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 13px;
  }
}

@media screen and (min-width: 576px){
  .card-group > .card:not(:last-child) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

// フッター
footer{
  max-width: none !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}

.footer-bottom{
  margin: 0;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
  background-color: #476F5F;
  color: #fff;
}
// フラッシュメッセージ
.alert-success{
  max-width: 1000px;
  margin: 0 auto;
}

.alert{
  text-align: center;
}

.alert-secondary{
  max-width: 1000px;
  margin: 0 auto;
}

// トップページ
.main-menu{
  padding-left: 4px;
}
  
.users-index h2{
  font-weight: bold;
}

.users-index-item {
  max-width: 768px;
  margin: 0 auto;
}

.card-group{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.card-group > .card {
  margin: 2px;
  width: 48%;
}

.card-group > .card a{
  display:flex;
  flex-direction: column;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #50ABA2;
  text-decoration: none;
}

.img-button > input{
  margin-left: 25%;
}

#image { 
  display: none;
}

.img-add {
  display: block;
  width: 100px;
  text-align: center;
  background-color: #ebebeb;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
}

// チャット関連
// メッセージ投稿フォーム
footer {
  position: fixed;
  max-width: 1000px;
  width: 100%;
  bottom: 0;
  padding: 128px;
  background-color: white;
}

.dropdown-menu{
  max-width: 90%;
}

.form-group {
  margin-bottom: 5px;
}

// メッセージ一覧
.message-wrapper{
  max-width: 1000px;
  margin: 0 auto;
  background-color: #d4e3fe;;
}

#message-container {
  padding: 16px 16px 160px 16px;
}

.message{
  margin-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-radius: 10px;
  border-style: solid;
}

.message a{
  color: rgb(10, 10, 10);
  text-decoration: none;
}

.msg-container{
  border-radius: 10px;
}

// 自分のメッセージ
.msg-own{
  display:flex;
}

.msg-own h5{
  display: inline-block;
  position: relative;
  max-width: 250px;
  margin: 0 10px 0 0;
  padding: 8px;
  border-radius: 12px;
  font-size: 15px;
}

// 他者のメッセージ
.msg-other {
  display:flex;
  margin: 0px;
  text-align: left;
}

// メッセージの中身
.msg-info{
  font-size: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.msg-info p{
  margin-bottom: 3px;
  padding-right: 2px;
}

.msg-text{
  position: relative;
  width: 100%;
  padding: 7px 11px 8px;
  word-wrap: break-word;
  word-break: break-all;
}

.msg-text p{
  font-size: 14px;
  margin: 0 10px 0 0;
}

// メッセージで写真送った時
.msg-info img {
  max-width: 400px;
  width: 95%;
  height: 240px;
  border-radius: 5%;
}

.others p {
  max-width: 250px;
  font-size: 7px;
  display: inline;
  position: relative;
  margin: 0 10px 0 0;
  padding: 10px;
}

.others-message{
  text-align: left;
}

.others-message p{
  max-width: 250px;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  border-radius: 12px;
  font-size: 15px;
}

#img_name{
  font-size: revert;
}

// チャット画面の写真
.user-img {
  margin: 8px;
  width: 64px;
  line-height: 0px;
}

.user-img img{
  max-width: 48px;
  width: 48px;
  height: 48px;
  padding: 0px;
  margin: 8px;
  border-radius: 50%;
  object-position: 50% 50%;
  overflow: hidden;
}

// ログイン画面
.login-wrapper{
  max-width: 1000px;
  width: 90%;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  color: #584f4f;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  z-index: 10000;
}

.login-wrapper.field > label{
  text-align: left;
}

.login-wrapper .field input[type="email"],
.login-wrapper .field input[type="password"]{
  width: 90%;
  padding-left: 5px;
  border: none;
  border-bottom: 2px solid #71b398;
  border-radius: 0;
}
.login-wrapper .field input[type="email"],
.login-wrapper .field input[type="password"]:hover{
  outline: none;
}

.login-wrapper input[type="submit"]{
  padding: 8px 65px;
  border: none;
  border-radius: 5px;
  color: #3c3c3c;
  background-color: #c8eae7;
}

.login-checkbox input[type="checkbox"]{
  width: 40px;
  border-bottom: 0px solid #71b398;
}

.login-footer{
  text-align: center;
  z-index: 10000;
}

// 新規登録
.signup-wrapper{
  max-width: 1000px;
  width: 90%;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.signup-wrapper .field input{
  width: 90%;
  border-radius: 10px;
}

.signup-wrapper .actions input{
  width: 90%;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  color :white;
}

#error_explanation{
  width: 90%;
  margin: 10px;
  text-align: center;
  font-size: small;
}
#error_explanation li{
  color: rgb(243, 50, 50);
}
.signup-wrapper input[type="text"],
.signup-wrapper .field input[type="email"],
.signup-wrapper .field input[type="password"]{
  width: 90%;
  padding-left: 5px;
  border: none;
  border-bottom: 2px solid #71b398;
  border-radius: 0;
}
.signup-wrapper .field input[type="email"],
.signup-wrapper .field input[type="password"]:hover{
  outline: none;
}

.signup-wrapper input[type="submit"]{
  background-color: #50ABA2;
}

.new-color input[type="color"]{
  width:70%;
  border: none;
  background-color: transparent;
}

// トップ画面の上部
.users-index {
  max-width: 1000px;
  width: 90%;
  margin: 7px auto;
  margin-bottom: 10px;
  padding: 15px 5px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.users-index span{
  font-size: 20px;
}

// トップ画面の下部、ユーザー一覧
.users-list {
  max-width: 1000px;
  width: 90%;
  display: table;
  margin: 0 auto;
  overflow: hidden;
}

// トップ画面とユーザー編集の写真部分
.user-image img{
  max-width: 160px;
  width: 160px;
  height: 160px;
  padding: 0px;
  margin: 10px 10px;
  border-radius: 30%;
  object-position: 50% 50%;
  overflow: hidden;
}

// ユーザー編集
.edit-wrapper{
  max-width: 1000px;
  width: 95%;
  margin: 7px auto;
  padding: 10px 25px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.edit-wrapper .field{
  margin-bottom: 5px;
}

.edit-wrapper .field input{
  width:90%;
}

.edit-wrapper input[type="color"] {
  width: 70%;
  margin-bottom: 16px;
  background-color: #fff;
}

.edit-wrapper input[type="submit"]{
  padding: 8px 65px;
  border: none;
  border-radius: 5px;
  color: #3c3c3c;
  background-color: #c8eae7;
}

input.delete-user {
  background-color: #e8e217;
}

//attend 出席表 
.card-header {
  background-color: #DDFDE9;
}

.attend-wrapper{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.attend-wrapper p{
  margin-bottom: 8px;
}

.attend-wrapper span{
  font-size: 20px;
}

.attend-wrapper h1{
  font-weight: bold;
  font-size: 40px;
}

.attend-top{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 0px 1px #c1ced7;
}

.attend-top h5 {
  margin-bottom: 0;
  font-weight: 900;
}

.attend-container{
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;
}

.attend-container h5{
  margin-bottom: 0;
}

.attend-container h3{
  padding: 16px;
  font-size: 22px;
  opacity:0.9;
  box-shadow: 0 1px 6px #c1ced7;
  border-radius: 10px;
}

.attend-list{
  border-radius: 10px;
}

.attend-list h5{
  margin: 0;
}

.attend-more{
  margin-top: 16px;
  font-weight: bold;
}

.attend-name{
  width: 100%;
  display: block;
  font-size: 10px;
  padding: 1px;
  border-radius: 3px;
  color:rgb(67, 70, 67);

}
.attend-name {
  margin-bottom: 2px;
  text-align: center;
}
.attend-name a{
  color: #434643;
  font-weight: bold;
}

//出席者の名前、大きい画面の表示
@media screen and (min-width: 768px){
  .attend-name{
    font-size:18px;
  }
}

.btn-color{
  color: white;
  background-color: darkblue;
  
}

// 出席アニメーション
.attend-perfect{
  animation: perfect 3s ease 0s 1 alternate none running;
}

@keyframes perfect {
  0% {
    transform: scale(.3);
    width: 10%;
  }
  50% {
    transform: scale(.6) rotate(-90deg);
    background: rgb(241, 4, 4);
    width: 200%;
  }
  100% {
    transform: scale(1) rotate(360deg);
    background: rgb(219, 235, 7);
    width: 100%;
  }

}
.attend-excellent{
  animation: excellent 3s ease 0s 1 alternate none running;
}
@keyframes excellent {
  0% {
    transform: scale(.3);
    width: 10%;
    height: 50%;
  }
  50% {
    transform: scale(.6) rotate(180deg);
    transform: scale(.6) rotate(180deg);
    background: rgb(241, 4, 4);
    width: 200%;
  }
  100% {
    transform: scale(1) ;;
    background: rgb(219, 235, 7);
    width: 100%;
  }
}

.attend-great{
  animation: great 2s ease 0s 1 alternate none running;
}
@keyframes great {
  0% {
    transform: scale(.3);
    width: 10%;
    
  }
  50% {
    transform: scale(.3);
    background: rgb(4, 99, 241);
    width:200%;
  }
  100% {
    transform: scale(1) ;
    background: rgb(7, 235, 83);
    width: 100%;
  }
}

.attend-container h6{
  box-shadow: 0 1px 6px #c1ced7;
  border-radius: 10px;
  padding: 24px;
  opacity: 0.9;
  color: white;
  background-color: #505050;
}

.attend-detail{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0px 1px 3px #c1ced7;
}

.detail-wrapper{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

// スケジュール関連
// カレンダー部分
.wday-0{
  background-color:rgb(247,208,208)
}

.wday-6{
  background-color: rgb(213,233,253)
}

.calendar-heading{
  max-width: 1000px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.calendar-title{
  font-size: 24px;
  margin: 10px;
}

.calendar-heading a{
  font-size: 12px;
}

.schedule-wrapper{
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0px 1px 3px #c1ced7;
}

.schedule-header{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.sch-card{
  width: 100%;
  padding: 16px;
}

.schedule-more {
  text-align: center;
  padding: 10px;
}

.new-card{
  margin-right: 8px;
  color: #e4e00d;
}

.schedule-form{
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 10px;
  box-shadow: 0px 2px 10px #c1ced7;
}

.modal-body {
  padding: 8px;
}

// スマホ画面の表示
@media screen and (max-width: 400px){
  .sch-time{
    padding: 1px;
    font-size: 14px;
  }
}

.schedule-title {
  margin-bottom: 2px;
  text-align: center;
}

.schedule-title a{
  width: 100%;
  display: block;
  font-size: 10px;
  padding: 1px;
  border-radius: 3px;
  color:rgb(67, 70, 67);
  background-color: rgb(152, 243, 205);
}

.card-inner{
  border-radius: 5px;
}

.edit-btn{
  padding: 5px 16px;
}

.schedule-edit{
  padding-top: 15px;
  font-weight: 700;
  text-align: center;
}

.schedule-edit p{
  padding-top: 15px;
  text-align: left;
  font-weight: 700;
}

.schedule-edit input{
  margin: 0 auto;
  padding-top: 15px;
  font-weight: 100;
}

.schedule-edit textarea{
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 12px;
  resize: none;
}

.schedule-edit input[type="submit"]{
  width: 30%;
  margin: 0 auto;
  margin: 10px;
  padding: 5px;
  border-radius: 12px;
  font-weight: bold;
  color: white;
}

.schedule-btn{
  text-align: right;
}

.simple-calendar td{
  padding: 0px;
}

// カレンダーのスクロール
.calender-scroll{
  overflow-y: auto; 
}

// スケジュール詳細
.btn a{
  color:white;
}

// タスク関連
.task-wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

.task-container{
  margin-top: 5px;
  margin-bottom: 65px;
}

.task-container .card-body{
  padding-top: 5px;
  padding-bottom: 5px;
}

.task-btn{
  text-align: right;
}

.task-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.task-text{
  font-size: 1.1rem;
}

.add-btn{
  font-size: 3.25rem;
  line-height: 43px;
  
}

.btn-position{
  position: fixed;
  width: 64px;
  height: 64px;
  right: 15px;
  bottom: 0;
  margin-bottom: 4px;
  z-index: 1000;
  border-radius: 50%;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 8px 13px;
}

// 大きい画面の表示
@media screen and (min-width: 900px){
  .btn-position{
    right: calc(50% - 435px);
    bottom: 4%;
  }
  .task-container{
    margin-bottom: 0px;
  }
}

.status-container{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(214, 247, 236);
  text-align: center;
}

.status-container p{
  margin-bottom: 0;
  font-weight: bold;
  color:rgb(4, 138, 138);
}

.task-complete {
  color: #a5a5a5;
  background-color: #dee4ea;
}

// タブレットサイズまでの表示
@media screen and (max-width: 768px){
.flash-option{
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  line-height: 43px;
  opacity: 0.9;
  z-index: 10000;
}
}

// ヘッダーボタンのアニメーション
@media screen and (max-width: 768px){
.anime-set{
  opacity: 0;
}

.fadeIn{
  opacity: 0;
  animation-name:fadeInAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
} 

@keyframes fadeInAnime{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
  }
.delay-in1{
  animation-delay: 0.1s;
}
.delay-in2{
  animation-delay: 0.15s;
}
.delay-in3{
  animation-delay: 0.2s;
}
.delay-in4{
  animation-delay: 0.25s;
}
.delay-in5{
  animation-delay: 0.3s;
}

}

// 営業時間外のボタンスタイル
.closed-hours{
  opacity: 0.5;
  background-color: rgb(177, 175, 175);
  pointer-events: none;
}

// サイトアクセス時のトップ画面
.top-img{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  overflow: hidden;
  transition:1.0s;
  z-index: -1;
}

.top-def{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  height: 0.1;
  opacity: 1;
  overflow: hidden;
  z-index: 10000;
}
