/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "simple_calendar";
@import "font-awesome-sprockets";
@import "font-awesome";

// ヘッダー
.sticky-top{
  max-width: 768px;
  margin: 0 auto;
  background-color: #50ABA2;
}
 
 // ヘッダーボタン
.navbar-light .navbar-toggler{
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 255, 255, 0.411);
}

.home{
  margin-right: 1rem;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
}
 
.fa-home{
  color: #ffffff;
}
 
.icon-size{
  font-size: 50px;
  color: #50ABA2;
}
 
.main-menu >.card-group > li:hover {
  background-color: #50ABA2;
  transition: all 0.3s;
  transform: translate(0, -5px);
  .icon-size{
    color: #ffffff;
  }
}
 
.main-menu >.card-group > li :hover {
  color: #ffffff;
}
 
.navbar-collapse >.navbar-nav > li :hover {
  opacity: 0.5;
  transition: all 0.3s;
}

@media screen and (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0.5rem;
  }
}

@media screen and (min-width: 576px){
  .card-group > .card:not(:last-child) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
 
.navbar-brand a:hover{
  opacity: 0.5;
  background-color: #ebebeb;
}

// トップページ
.main-menu{
  padding-left: 4px;
}
  
.users-index h2{
  font-weight: bold;
}

.users-index-item {
  max-width: 768px;
  margin: 0 auto;
}

.card-group{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.card-group > .card {
  margin: 2px;
  width: 48%;
}

.card-group > .card a{
  display:flex;
  flex-direction: column;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #50ABA2;
  text-decoration: none;
}

.img-button > input{
  margin-left: 25%;
}

#image { 
  display: none;
}

.img-add {
  display: block;
  width: 100px;
  text-align: center;
  background-color: #ebebeb;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
}

// フラッシュメッセージ
.alert-success{
  max-width: 768px;
  margin: 0 auto;
}

.alert{
  text-align: center;
}

.alert-secondary{
  max-width: 768px;
  margin: 0 auto;
}

// チャット
// メッセージ投稿フォーム
footer {
  position: fixed;
  bottom:-20px;
  width: 100%;
  max-width: 768px;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 1rem;
}
.dropdown-menu{
  max-width: 90%;
}
.form-group {
  margin-bottom: 0.3rem;
}

// メッセージ一覧
.message{
  margin-bottom: 0.3rem;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-radius: 10px;
  border-style: solid;
}

.message a{
  color: rgb(10, 10, 10);
  text-decoration: none;
}
.message-wrapper{
  max-width: 768px;
  margin: 0 auto;
}

#message-container {
  max-width: 768px;
  padding: 1rem 1rem 9rem 1rem;
  background-color: #d4e3fe;;
}

.msg-own{
  display:flex;
}

.msg-own h5{
  display: inline-block;
  position: relative;
  max-width: 250px;
  margin: 0 10px 0 0;
  padding: 8px;
  border-radius: 12px;
  font-size: 15px;
}

.msg-other {
  display:flex;
  margin: 0px 0;
  text-align: left;
}

.msg-info{
  font-size: 11px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.msg-info p{
  margin-bottom: 3px;
  padding-right: 2px;
}

.msg-text{
  max-width: 100%;
  position: relative;
  padding: 7px 11px 8px;
  border-radius: 8px;
  word-wrap: break-word;
  word-break: break-all;
}

.msg-text p{
  font-size: 14px;
  margin: 0 10px 0 0;
}

.msg-img{
  width:100%;
}
.msg-inner{
  max-width: 60%;
  width: auto;
  padding: 7px 11px 8px;
  border-radius: 8px;
  position: relative;
}

.msg-container{
  border-radius: 10px;
}

.others p {
  max-width: 250px;
  font-size: 7px;
  display: inline;
  position: relative;
  margin: 0 10px 0 0;
  padding: 10px;
}

.others-message{
  text-align: left;
}

.others-message p{
  max-width: 250px;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  border-radius: 12px;
  font-size: 15px;
}

.msg-info img {
  max-width: 25rem;
  width: 95%;
  height: 15rem;
  border-radius: 5%;
}

#img_name{
  font-size: revert;
}

.user-img {
  margin: 0.5rem;
  width: 4rem;
  line-height: 0rem;
}

// チャット画面の写真
.user-img img{
  max-width: 3rem;
  width: 3rem;
  height: 3rem;
  padding: 0px;
  margin: 0.5rem 0.5rem;
  border-radius: 50%;
  object-position: 50% 50%;
  overflow: hidden;
}

// トップ画面、ユーザー編集の写真
.user-image img{
  max-width: 10rem;
  width: 10rem;
  height: 10rem;
  padding: 0px;
  margin: 10px 10px;
  border-radius: 30%;
  object-position: 50% 50%;
  overflow: hidden;
}

// ログイン
.login-wrapper{
  max-width: 768px;
  width: 90%;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.login-wrapper.field > label{
  text-align: left;
}
.login-wrapper .field input{
  width: 90%;
  border-radius: 10px;
}

.login-footer{
  text-align: center;
}
// 新規登録
.signup-wrapper{
  max-width: 768px;
  width: 90%;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}
.signup-wrapper .field input{
  width: 90%;
  border-radius: 10px;
}
.signup-wrapper .actions input{
  width: 90%;
  margin:10px;
  text-align: center;
  border-radius: 10px;
  color :white;
}
#error_explanation{
  width: 90%;
  margin:10px;
  text-align: center;
  font-size: small;
}
#error_explanation li{
  color: rgb(243, 50, 50);
}

// ユーザーインデックス
.users-index {
  max-width: 768px;
  width: 90%;
  margin: 7px auto;
  margin-bottom: 10px;
  padding: 15px 5px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}
.users-index span{
  font-size: 20px;
}
.users-list {
  max-width: 768px;
  width: 90%;
  display: table;
  margin: 0 auto;
  overflow: hidden;
}

// ユーザー編集
.field{
  margin-bottom: 5px;
}
.field input{
  width:100%;
}
input[type="color"] {
  width: 50%;
  margin-bottom: 1rem;
}
.new-color input[type="color"]{
  width:70%;
}
.user-edit-wrapper{
  max-width: 768px;
  width: 95%;
  margin: 7px auto;
  padding: 10px 25px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.login-wrapper{
  color: #584f4f;
  max-width: 768px;
  width: 90%;
  margin: 10px auto;
  padding: 10px 25px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.login-checkbox input[type="checkbox"]{
  width: 3rem;
}

//attend 出席表 
.attend-wrapper{
  max-width: 768px;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.attend-wrapper p{
  margin-bottom: 0.5rem;
}

.attend-wrapper span{
  font-size: 20px;
}

.attend-wrapper h1{
  font-weight: bold;
  font-size: 2.5rem;
}

.attend-top{
  max-width: 768px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 0px 1px #c1ced7;
}

.attend-top h5 {
  margin-bottom: 0;
  font-weight: 900;
}

.attend-container{
  max-width: 768px;
  margin: 10px auto;
  text-align: center;
}

.attend-container h5{
  margin-bottom: 0;
}

.attend-container h3{
  box-shadow: 0 1px 6px #c1ced7;
  border-radius: 10px;
  padding: 1.0rem;
  font-size: 1.5rem;
  opacity:0.9;
  // color: gold;
}

.attend-list h5{
  margin: 0;
}
.attend-more{
  margin-top: 1rem;
  font-weight: bold;
}

.attend-name a{
  width: 100%;
  display: block;
  font-size: 10px;
  padding: 1px;
  border-radius: 3px;
  color:rgb(67, 70, 67);
  background-color: rgb(152, 243, 205);
}
.attend-name {
  margin-bottom: 2px;
  text-align: center;
}

.btn-color{
  color: white;
  background-color: darkblue;
  
}

// 出席アニメーション
.attend-perfect{
  animation: perfect 3s ease 0s 1 alternate none running;
}

@keyframes perfect {
  0% {
    transform: scale(.3);
    width:10%;
  }
  50% {
    transform: scale(.6) rotate(-90deg);
    background: rgb(241, 4, 4);
    width:200%;
  }
  100% {
    transform: scale(1) rotate(360deg);
    background: rgb(219, 235, 7);
    width:100%;
  }

}
.attend-excellent{
  animation: excellent 3s ease 0s 1 alternate none running;
}
@keyframes excellent {
  0% {
    transform: scale(.3);
    width:10%;
    height:50%;
  }
  50% {
    transform: scale(.6) rotate(180deg);
    transform: scale(.6) rotate(180deg);
    background: rgb(241, 4, 4);
    width:200%;
  }
  100% {
    transform: scale(1) ;;
    background: rgb(219, 235, 7);
    width:100%;
  }
}

.attend-great{
  animation: great 2s ease 0s 1 alternate none running;
}
@keyframes great {
  0% {
    transform: scale(.3);
    width:10%;
    
  }
  50% {
    transform: scale(.3);
    background: rgb(4, 99, 241);
    width:200%;
  }
  100% {
    transform: scale(1) ;
    background: rgb(7, 235, 83);
    width:100%;
  }
}

.attend-container h6{
  box-shadow: 0 1px 6px #c1ced7;
  border-radius: 10px;
  padding: 1.5rem;
  opacity:0.9;
  color: white;
  background-color: #505050;
}

// スケジュール
// カレンダー
.wday-0{
  background-color:rgb(247,208,208)
}

.wday-6{
  background-color: rgb(213,233,253)
}

.calendar-heading{
  max-width: 768px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.calendar-title{
  font-size: 24px;
  margin: 10px;
}

.calendar-heading a{
  font-size: 12px;
}

.schedule-wrapper{
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: 0px 1px 3px #c1ced7;
}

.schedule-header{
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.sch-card{
  width: 100%;
  padding:1rem;
}

.new-card{
  background-color: rgb(228, 224, 13);
}

.schedule-form{
  max-width: 768px;
  margin: 0 auto;
  padding-left: 10px;
  box-shadow: 0px 2px 10px #c1ced7;
}

.modal-body {
  padding: 0.5rem;
}

@media screen and (max-width: 400px){
  .sch-time{
    padding: 0.375rem 0.01rem;
    font-size: 0.8rem;
  }
}

.schedule-title a{
  width: 100%;
  display: block;
  font-size: 10px;
  padding: 1px;
  border-radius: 3px;
  color:rgb(67, 70, 67);
  background-color: rgb(152, 243, 205);
}
.schedule-title {
  margin-bottom: 2px;
  text-align: center;
}

.edit-btn{
  padding: 0.3rem 1.0rem;
}

.schedule-edit{
  padding-top: 15px;
  font-weight: 700;
  text-align: center;
}
.schedule-edit p{
  padding-top: 15px;
  text-align: left;
  font-weight: 700;
}
.schedule-edit input{
  margin: 0 auto;
  padding-top: 15px;
  font-weight: 100;
}

.schedule-edit textarea{
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 12px;
  resize: none;
}

.schedule-edit input[type="submit"]{
  width: 30%;
  margin: 0 auto;
  margin: 10px;
  padding: 5px;
  border-radius: 12px;
  font-weight: bold;
  color: white;
}

.schedule-btn{
  text-align: right;
}

.simple-calendar td{
  padding: 0px;
}

// カレンダーのスクロール
.calender-scroll{
  overflow-y: auto; 
}

// スケジュール詳細
.btn a{
  color:white;
}

// タスク
.task-wrapper{
  max-width: 768px;
  margin: 0 auto;
}

.task-container{
  margin-top: 5px;
  margin-bottom: 65px;
}

.task-container .card-body{
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.task-btn{
  text-align: right;
}

.lead {
  font-size: 1.25rem;
  font-weight: bold;
}

.task-text{
  font-size: 1.1rem;
}

.add-btn{
  line-height: 2.9rem;
}

.btn-position{
  position: fixed;
  width: 4rem;
  height: 4rem;
  right: 0.9rem;
  bottom: 0;
  margin-bottom: 0.25rem;
  z-index: 1000;
  font-size: 3.25rem;
  border-radius: 50%;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.01rem 0.4rem;
}

@media screen and (min-width: 900px){
  .btn-position{
    right: calc(50% - 435px);
    bottom: 4%;
  }
  .task-container{
    margin-bottom: 0px;
  }
}

.status-container{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(214, 247, 236);
  text-align: center;
}

.status-container p{
  margin-bottom: 0;
  font-weight: bold;
  color:rgb(4, 138, 138);
}

.task-complete {
  color: #a5a5a5;
  background-color: #dee4ea;
}

@media screen and (max-width: 768px){
.flash-option{
  // display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  line-height: 43px;
  opacity: 0.9;
  z-index: 10000;
}
}